<h2><b>Sat I</b></h2>
<h3>Regular Time</h3>
<h6>4:00 Hours Total</h6>
<button class="start">Start</button>
<hr>
<b>Moment: </b>{{moment-format comment.createdAt 'MMMM D, YYYY h:mm A'}}
<hr>
{{outlet}}
